<launch>
    <include file="$(find rnn_collvoid)/launch/start_simulation.launch" >
        <arg name="control_script" value="oscillating_controller.py" />
    </include>

    <include file="$(find rnn_collvoid)/launch/predict.launch" />

    <node pkg="rnn_collvoid" type="control.py" name="robot_controller" output="screen" />

</launch>

