<launch>
    <include file="$(find rnn_collvoid)/launch/start_simulation.launch" >
        <arg name="control_script" value="oscillating_controller.py" />
    </include>

    <include file="$(find rnn_collvoid)/launch/make_prediction.launch" />

    <node pkg="rnn_collvoid" type="approximate_entropy.py" name="entropy_calc" output="screen" />

</launch>

