<launch>
    <node pkg="stage_ros" type="stageros" args="$(find rnn_collvoid)/worlds/oscillator_test.world" name="stage_world" output="screen"/>
    <!--<node pkg="rnn_collvoid" type="online.py" name="online_predictor" output="screen" />-->
    <node pkg="rnn_collvoid" type="oscillating_controller.py" name="controller" output="screen" />

    <!-- start rviz for visualization -->
    <!--<node pkg="tf" type="static_transform_publisher" name="map_to_odom_transform" args="0.0 0.0 0.0 0.0 0.0 0.0 map robot_0/odom 100"/>-->
    <!--<node pkg="rviz" type="rviz" args="-d $(find rnn_collvoid)/config.rviz" name="rviz" output="screen"/>-->
</launch>

